.header {
    display: flex;
    justify-content: space-around;
    margin: 20px 20px;
}

.header > .left {
    font-weight: 500;
    font-size: large;
}

.header > .left > h2 {
    cursor: pointer;
}

.header > .right {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    font-family: 'Roboto Slab, serif';
    font-size: 20px;
}

.header > .right > .link {

    background-image: linear-gradient(black, black);
    background-size: 0% 1px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 800ms ease;    
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.header > .right > .link:hover {
    background-size: 100% 1px;
}

.header > .left > img {
    width: 400px;
    align-items: center;
}