.icons {
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
}

.icons > img {
    width: 200px;
    cursor: pointer;
    transition: transform .2s
}

@media screen and (max-width:668px) {
    .icons > img {
        width: 150px;
    }

    .icons {
        gap: 50px;
    }
    
}

.icons > img:hover {
    transform: scale(1.2);
}

.title {
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    font-size: calc(25px + 0.5vw);
}

.h1 {
    background-image: linear-gradient(black, black);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 800ms ease;    
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.h1:hover {
    background-size: 100% 3px;
}

.stack {
    justify-content: center;
    margin: 25px 80px;
    margin-bottom: 150px;
}

.desc {
    margin-bottom: 90px;
    font-size: calc(15px + 0.390625vw);
    text-align: center;
}