.about {
    margin: 80px 80px;
}

.brief {
    display: flex;
    justify-content: center;
    text-transform: lowercase;
    font-size: 100px;
    margin-bottom: 80px;
}

.photo > img {
    width: 600px;
    border-radius: 50%;
}

.content {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.about_me > p {
    font-size: medium;
}