.about {
    margin: 80px 80px 250px 120px;
}

.title {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.h1 {
    background-image: linear-gradient(black, black);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 800ms ease;    
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.h1:hover {
    background-size: 100% 3px;
}

.brief {
    display: inline-block;
    justify-content: center;
    text-transform: lowercase;
    font-size: 80px;
    margin-bottom: 250px;
    margin-left: 20px;
    text-align: center;
}
  
.brief > span {
    background-image: linear-gradient(black, black);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 1000ms ease;
}

.brief > span:hover {
    background-size: 100% 3px;
}

.photo > img {
    width: 500px;
    border-radius: 50%;
    transition: transform .2s;
}

.photo > img:hover {
    transform: scale(1.1)
}

.content {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.about_me > p {
    font-size: 20px;
}
