.footer {
    left: 0;
    bottom: 0;
    right: 0;
    height: 150px;
    background-color: rgba(17,17,17,255);
    padding: 30px 30px 30px 30px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.footer > .left {
    color: white;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 50px;
}

.icons > .icon {
    color: white !important;
    cursor: pointer;
}

.black_logo {
    width: 300px;
    height: 100%;
    cursor: pointer;
}

