.footer {
    left: 0;
    bottom: 0;
    right: 0;
    height: 150px;
    background-color: rgba(17,17,17,255);
    padding: 30px 30px 30px 30px;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.left {
    color: white;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 50px;
}

.icon {
    color: white;
    cursor: pointer;
}

.icons {
    display: flex;
    gap: 40px;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .icons {
        display: flex;
        flex-wrap: wrap;
    }
    
}

.black_logo {
    width: 300px;
    height: 100%;
    cursor: pointer;
}

.link {
    color: white;
}