.project_heading {
    display: flex;
    justify-content: center;
    font-size: calc(25px + 0.5vw);
    margin-bottom: 40px;
}

.projects {
    margin-bottom: 180px;
}

.h1 {
    background-image: linear-gradient(black, black);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 800ms ease;    
    cursor: pointer;
    text-decoration: none;
    color: black;
    text-align: center;
}

.h1:hover {
    background-size: 100% 3px;
}